@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@font-face {
  font-family: 'SFPro';
  font-style: normal;
  font-weight: normal;
  src:
    local('SFPro'),
    url('../assets/fonts/SFProDisplay-Regular.woff') format('woff');
}

@font-face {
  font-family: 'SFUIText';
  font-style: normal;
  font-weight: normal;
  src:
    local('SFPro'),
    url('../assets/fonts/SFUIText-Regular.woff') format('woff');
}
